.contact form div {

  
  display: flex;

}

.contact textarea {

  border: 1px solid rgba(0, 0, 0, 0.1);

  width: 100%;

  border-radius: 5px;

  margin-bottom: 20px;

  font-size: 15px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contact input {

  margin-bottom: 20px;

  margin-right: 10px;

}

.contact form {

  padding: 30px;

  font-size: 20;

}

@media screen and (max-width: 768px) {

  .contact h4 {

    width: 100%;

    margin-bottom: 30px;

  }

  .contact form div {

    flex-direction: column;

    font-size: 25px;

  }

  .contact input {

    width: 100%;

  }

}